/*Author: Sangam Adhikari*/
/*from: YouTube Massage by Tia , Responsive design*/



body
{
	background-color: #f1F0D1;
	font-family:Verdana,Tahoma,Arial,sans-serif;
	font-size:18px;
	overflow: auto;
}
h1,h2,h3
{
	text-align: center;
	padding-left:5%;
	color: #878E63;
}
p
{
	padding:2%;
	color:#878E63;
}
img
{
	text-align: center;
	max-width:100%;
	width:auto;
	height:auto;
}
#wrapper
{
	margin:0 auto;
	max-width:1030px;
	width:98%;
	background-color:#FEFBE8;
	border:1px solid #878E63;
	border-radius:2px;
	box-shadow:0 0 10px 0px rgba(12,3,25,0.8);
}
#callout
{
	width:100%;
	height: auto;
	/*top:0;*/
	background-color: #878E63;
	overflow: hidden;
	/*position: fixed;*/
}
#callout p
{
	text-align: right;
	font-size:13px;
	padding:0.1% 5% 0 0 ;
	color: #f1F0D1;
}
#callout p a
{
	color:#f1F0D1;
	text-decoration:none;
}
header
{
	width:96%;
	min-width:125px;
	padding:5px;
	text-align:center;
}
nav ul
 {
 	list-style:none;
 	padding:0;
 	margin-left:50px;
 }
nav ul li
 {
 	float:left;
 	border:1px solid #878E63;
 	width: 15%;

 }
nav ul li a
{
	background-color:#F1F0D1;
	display:block;
	padding:5% 12%;
	font-weight: bold;
	font-size:18px;
	color: #878E63;
	text-decoration:none;
}
nav ul li a:hover,nav ul li.active a
{
	background-color: #878E63;
	color:#F1F0D1;

}
.banner img
{
	width: 100%;
	border-top:1px solid #878E63;
	border-bottom:1px solid #878E63;
}
.clearfix
 {
 	clear: both;
 }
.left-col
{
	width: 55%;
	float: left;
	margin:-1% 1% 1% 1%;
}
.sidebar
{
	width: 40%;
	float: right;
	margin:1%;
	text-align:center;
}
.therapy
{
	float: left;
	margin:0 auto;
	width:100%;
	height: auto;
	padding:1%;
}
.section
{
	width:29%;
	float: left;
	margin:2% 2%;
	text-align:center;
}
footer
{
	background-color: #878E63;
	width: 100%;
	overflow: hidden;
}
footer p , footer h3
{
	color: #F1F0D1;
}
footer p a 
{
    color: #F1F0D1;
    text-decoration: none;
}
ul
{
	list-style-type: none;
	margin:0;
	padding:0;
}
li
{
	display: inline;
}
ul li img
{
	height: 50px;
}
/*Adding responsiveness
Media Queries*/
@media screen and (max-width: 478px)
{
	body
	 {
	 	font-size:13px;
	 }
}
@media screen and (max-width: 740px)
{
	nav
	{
		width: 100%;
		margin-bottom:10px;
	}
	nav ul
	{
		list-style: none;
		margin:0 auto;
		padding-left:0;
	}
	nav ul li 
	{
		text-align:center;
		margin-left:0 auto;
		width:100%;
		border-top:1px solid #878E63;
		border-right:0px solid #878E63;
		border-bottom:1px solid #878E63;
		border-bottom:0px solid #878E63;
	}
	nav ul li a
	{
		padding:8px 0;
		font-size:16px;
	}

	.left-col
	{
	  width:100%;
	}
	.sidebar
	{
      width:100%;
	}
	.section
	{
	  float: left;
	  width:100%;
	  margin:0px;
      

	}
}